setuptools==60.9.3
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
matplotlib==3.5.1
RPi.GPIO==0.7.1
smbus==1.1.post2
adafruit-circuitpython-adxl34x==1.11.9
adafruit-circuitpython-l3gd20==2.3.7
adafruit-circuitpython-ahtx0==1.0.8
gunicorn==20.1.0