body {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    color: white;
    background-color: #eb5534;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 700;
}

.navbar-home-item {
    margin-right: auto;
}

.navbar-item {
    margin-left: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.sensor-container {
    width: 100%;
    background-color: #c7c7c7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 10px 0 10px 0;
}

.graph-container {
    align-content: center;
    width: 100%;
    background-color: #c7c7c7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 10px 0 10px 0;
}

.settings-container {
    align-content: center;
    align-items: center;
    width: 100%;
    background-color: #c7c7c7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 10px 0 10px 0;
}

.settings-button {
    background-color: #de7914;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.settings-container input {
    margin-bottom: 10px;
}

.settings-button:hover {
    background-color: #f59536;
}

.settings-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    background-color: #eb5534;
    color: white;
    font-weight: 700;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 5px;
}

a {
    text-decoration: none
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #ffd7cf;
}

.graph-img {
    max-width: 100%
}
