{% extends "base.html" %}
{% block content %}
        {% for sensor_graphs in sensors_graphs %}
            <div class="graph-container">
                {% if sensor_graphs|length > 0 %}
                    {% for graph in sensor_graphs %}
                        <p>
                            <img class="graph-img" src="{{ graph }}">
                        </p>
                    {% endfor %}

                {% else %}
                    <p>Nothing to show</p>

                {% endif %}
            </div>
        {% endfor %}
{% endblock %}
