{% extends "base.html" %}
{% block content %}
        {% if settings_config.SETTINGS_PAGE_STRUCT|length > 0 %}
            {% for settings_struct in settings_config.SETTINGS_PAGE_STRUCT %}
                <form class="settings-form" method="GET" action="{{ url_for('settings.apply_settings') }}" enctype="multipart/form-data">
                    <div class="settings-container">
                        <p>
                            {{ settings_struct[settings_config.SETTINGS_PAGE_STRUCT_TITLE_KEY_NAME] }} : ({{ settings_struct[settings_config.SETTINGS_PAGE_STRUCT_TIP_KEY_NAME] }})
                        </p>
                        {% for mode in settings_struct["modes"] %}
                            <span>
                                <p>
                                    {{ mode }}
                                </p>
                                <input type="text" id="{{ mode }}"
                                        name="{{ mode }}"
                                        value="{{ settings_data[mode] }}">
                            </span>
                        {% endfor %}
                        <button class="settings-button" type="submit">Apply</button>
                    </div>
                </form>
            {% endfor %}
        {% else %}
            <p>
                Nothing to show
            </p>
        {% endif %}
{% endblock %}
